<p style="color: green"><%= notice %></p>

  <% @question.each do |question| %>
    <h2><%= question.title %></h2>
    <h2><%= question.body %></h2>
    <hr>
  <% end %>

<div>
  <%= link_to "Edit this question", edit_question_path(@question) %> |
  <%= link_to "Back to questions", questions_path %>

  <%= button_to "Destroy this question", @question, method: :delete %>
</div>
