<div class="user">
  <h1><%= @user.username %></h1>
  <h2>Имя: <%= @user.name %></h2>
</div>

<div class="questions-form">
  <%= render 'questions/form', question: @question %>
  <hr style="background-color: black">
</div>

<div class="questions-ask">
  <%= render 'questions/question', questions: @user.questions %>
</div>

<div>
  <%= button_to "Edit this user", edit_user_path(@user), method: :get %> |
  <%= button_to "Back to users", users_path, method: :get %>
</div>
