<p style="color: green"><%= notice %></p>

<div class="user">
  <h1><%= @user.username %></h1>
  <h2>Имя: <%= @user.name %></h2>
</div>

<div class="questions-ask">
  <%= render 'questions/question', questions: @user.questions %>
</div>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>
</div>
