<!DOCTYPE html>
<html>
  <head>
    <title>AskRu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <div class="header">
    <% if current_user %>
      <%= button_to 'Мой профиль', user_path(current_user), class: "btn-profile", method: :get %>
      <%= button_to 'Выйти', log_out_path, class: "btn-log-out", method: :get %>
    <% else %>    
      <%= button_to 'Зарегистрироваться', sing_up_path, class: "btn-registr", method: :get %>
      <%= button_to 'Войти', log_in_path, class: "btn-log-in", method: :get %>
    <% end %>
  </div>
    <% flash.each do |key, message| %>
      <div class="flash <%= key %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
